.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot {
	fill: #a0bb28;
	stroke: #444444;
}

.glow {
	fill: #cc4044;
	stroke: #884060;
	stroke-width: 3px;
}

#infobox {
	font-size: 12px;
	text-align: center;
	line-height: 19px;
	top:370px;
	left:500px;
	height: 100px;
	width: 250px;
	border-style:solid;
	border-color:#aaaaaa;
	border-width:2px;
	z-index:2;
}