.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot {
	fill: #a0bb28;
	stroke: #444444;
}

.glow {
	fill: #cc4044;
	stroke: #884060;
	stroke-width: 3px;
}

#infobox {
	font-size: 12px;
	text-align: center;
	line-height: 19px;
	top:370px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 500px;
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px;
	z-index:2;
}

/*code for later when we expand this into the final project
#bar {
	width: 700px;
	height:70px;
}

#winbar {
	width:30%;
	background-color: #E0E0E0;
}

#drawbar {
	width:40%;
	background-color: #888888;
}

#losebar {
	width:30%;
	background-color: #333333;
}

.outcomebar {
	height: inherit;
	display: inline-block;
	margin-left: -4px;
}
*/